@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.hero {
  :global {
    @include container;
    @include page;
    .heroIntro {
      flex-grow: 1;
      min-height: 80vh;
    }
    .HeroDescription {
      gap: 20px;
      h3 {
        @include h3;
      }
      h1 {
        @include h1;
      }
      p {
        @include p;
      }
    }

    .imagesBox {
      .bgBurger {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        object-fit: contain;
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        border-radius: 50%;
        z-index: 0;
      }
      .imgLeft,
      .imgRight {
        flex-grow: 1;
        background-color: transparent;
        overflow: hidden;
        .burger-motor {
          border-radius: 10px;
          overflow: hidden;
          transform: translateY(25vh);
        }
        .burger {
          max-width: 70%;
          border-radius: 15px;
          transform: translateY(5vh);
        }
      }
    }
    //numbers
    .numbers {
      .lastBox:last-child {
        .singleStat:last-child {
          justify-content: flex-end !important;
          @include mq($md) {
            justify-content: flex-start !important;
          }
        }
      }
      .lastBox {
        @include mq($md) {
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: nowrap;
          justify-content: center !important;
          align-items: center !important;
          gap: 20px !important;
          margin-bottom: 20px !important;
        }
        .numberBox {
          max-width: fit-content;
        }
      }
      .number {
        gap: 0;
        margin: 0;
        @include h11;
        .sign {
          color: $primary;
          font-weight: 900;
        }
        .details {
          @include p;
          display: flex;
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}
