@font-face {
  font-family: MetropolisLight;
  src: url("/fonts/Metropolis-Light.otf");
}

@font-face {
  font-family: MetropolisRegular;
  src: url("/fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: MetropolisMedium;
  src: url("/fonts/Metropolis-Medium.otf");
}

@font-face {
  font-family: MetropolisSemiBold;
  src: url("/fonts/Metropolis-SemiBold.otf");
}

@font-face {
  font-family: MetropolisBold;
  src: url("/fonts/Metropolis-Bold.otf");
}

@font-face {
  font-family: MetropolisExtraBold;
  src: url("/fonts/Metropolis-ExtraBold.otf");
}

@font-face {
  font-family: MetropolisThin;
  src: url("/fonts/Metropolis-Thin.otf");
}
