@font-face {
  font-family: sfProDisplayLight;
  src: url("./fonts/AvertaCY-Light.woff2");
}

@font-face {
  font-family: sfProDisplayRegular;
  src: url("./fonts/AvertaCY-Regular.woff2");
}

@font-face {
  font-family: sfProDisplayMedium;
  src: url("./fonts/SFProDisplay-Medium.ttf");
}

@font-face {
  font-family: sfProDisplaySemiBold;
  src: url("./fonts/AvertaCY-Semibold.woff2");
}

@font-face {
  font-family: sfProDisplayBold;
  src: url("./fonts/AvertaCY-Bold.woff2");
}

@font-face {
  font-family: sfProDisplayHeavy;
  src: url("./fonts/SFProDisplay-Heavy.ttf");
}
