@import "./variables.scss";

@mixin transition {
  transition: all 0.3s ease-out;
}

@mixin background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

//  media screens
@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin mqh($size) {
  @media screen and (max-height: $size) {
    @content;
  }
}

@mixin over-scroll-row {
  @include mq($xls) {
    width: auto;
    flex-wrap: nowrap;
    max-width: 100vw;
    overflow: scroll;
    @include scroll-bar-hidden;
  }
}

@mixin col-md-xls {
  @include mq($xls) {
    max-width: calc((100% / 2) - 15px);
    min-width: calc((100% / 2) - 15px);
  }
}

@function pxToVh($element) {
  @return #{calc($element/1080) * 100}vh;
}

@function pxToVw($element) {
  @return #{calc($element/1920) * 100}vw;
}
@function pxToEm($element) {
  @return #{calc($element/16)}em;
}
