$min-contrast-ratio: 2.5;

// Override Bootstrap color variables
$primary: #ff5634;
$secondary: #656565;
$dark: #121212;
$light: #ffffff;
$pale: #fafafa;

$success: #00ff55;
$warning: #f7e701;
$error: #ff0000;
