//  colors

$red: #ededed;
$white: #ededed;
$black: #171717;
$background: #ededed;
$blackNew: #171717;
$aqua: #00eaff;
$orange: #0c0a08;
$gray: #dbdada;

// fonts families

$polisMedium: MetropolisMedium;
$polisLight: MetropolisLight;
$polisRegular: MetropolisRegular;
$polisSemiBold: MetropolisSemiBold;
$polisBold: MetropolisBold;
$polisThin: MetropolisThin;
$polisExtraBold: MetropolisExtraBold;

//  measurements
$sm: 480px;
$small-device: 500px;
$xxs: 320px;
$xls: 600px;
$xlsh: 500px;
$xms: 375px;
$md: 780px;
$lg: 1024px;
$xlg: 1440px;
$xxlg: 5000px;
$headervh: 100vh;
$header-padding: 10vw;
$divider: calc(4 / 3);
$xd-width: 1920;
$xd-height: 1080;
$width-of-container: calc(85px / $divider);
$menu-height: 54px;
