@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.navbar {
  :global {
    background-color: $light !important;
    padding: 0;
    width: 100%;
    .navbarWrapper {
      background-color: $light !important;
      margin: 0;
    }
    .container {
      @include container;
    }
    .brand,
    .toggler {
      @include mq($sm) {
        max-width: 100px;
      }
      @include mq($xxs) {
        max-width: 90px !important;
      }
    }
    .nav-toggleble {
      gap: 15px;
      align-items: center;
      .active {
        color: $primary !important;
      }
    }
    .link,
    .dropdown-toggle {
      color: $dark;
      @include transition;
      font-size: pxToEm(16);
      font-family: $polisMedium;
      &:hover {
        color: $primary;
      }
    }
    .btnDownload {
      color: $dark;
      @include appBtn;
      background-color: $light;
      border-color: $gray;
      &:hover {
        background-color: $primary;
        border-color: $primary;
      }
    }
    .btnRegister {
      @include appBtn;
      background-color: $primary;
    }
    .end-box {
      gap: 20px;
      .btn {
        @include mq($md) {
          display: none;
        }
      }
    }
    .sm-devices-links {
      width: 100vw;
      min-height: calc(100vh - 100px);
    }
    .setlinksOnSm {
      padding-top: 50px;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .link {
        font-size: pxToEm(32);
      }
    }
  }
}
