@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.footer {
  :global {
    @include page;
    background-color: $light;
    border-top: 1px solid $border;
    min-height: fit-content !important;
    .containerWrapper {
      @include container;
      .footerIntroWrapper {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border;
        justify-content: space-between;
        gap: 50px;
        @include mq($xlg) {
          gap: 40px;
        }
        @include mq($lg) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
        .footerIntro,
        .btns {
          flex: 1 1 45%;
          @include mq($lg) {
            width: 100%;
          }
        }

        .footerIntro {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .FooterLogo {
            width: 200px;
            aspect-ratio: 200/60;
            height: auto;
            @include mq($lg) {
              width: 180px;
            }
            @include mq($xls) {
              width: 150px;
            }
          }
          p {
            @include p;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
          }
        }
        .btns {
          flex-grow: 0;
          gap: 20px;
          justify-content: flex-end;
          @include mq(1200px) {
            gap: 10px;
          }
          @include mq($lg) {
            justify-content: flex-start;
            gap: 20px;
          }
          @include mq($xls) {
            flex-direction: column;
            width: 100%;
          }
          .btnFooter {
            @include appBtn;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            @include mq(1200px) {
              font-size: 13px;
              gap: 3px;
              padding: auto 10px;
            }
            @include mq($lg) {
              @include appBtn;
            }
            @include mq($xls) {
              width: 100%;
            }
            img {
              width: 20px;
              aspect-ratio: 20/24;
              height: auto;
            }
          }
          .btnFooter:last-child {
            img {
              width: 31px;
              aspect-ratio: 31/24;
              height: auto;
            }
          }
        }
      }
    }
    .linksBoxFooter {
      border-bottom: 1px solid $gray;
      @include container;
      flex-wrap: wrap;
      gap: 50px;
      padding: 70px 0;
      align-items: flex-start;
      justify-content: space-between;
      @include mq($lg) {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
      }
      @include mq($md) {
        flex-direction: column;
      }
      .utilities,
      .menuBox,
      .marksWrapper {
        h3 {
          @include h4;
          margin-bottom: 30px;
          font-size: pxToEm(20);
          @include mq($md) {
            font-size: pxToEm(18);
          }
          @include mq($xls) {
            font-size: pxToEm(16);
          }
        }
      }
      .leftPartFooter,
      .marksWrapper {
        flex: 1 1 calc(50% - 25px);
        div {
          a {
            @include p;
            display: flex;
            margin-top: 10px;
            justify-content: flex-start;
            @include transition;
            &:hover {
              color: $primary;
            }
          }
        }
        .menus {
          gap: 40px;
          @include mq($lg) {
            gap: 30px;
          }
        }
      }
      .utilities,
      .menuBox {
        @include mq($md) {
          flex: 1 1 calc(100% / 3 - 25px);
        }
      }
      .leftPartFooter {
        gap: 70px;
        justify-content: space-between;
        @include mq($lg) {
          flex: 1 1 calc(100% / 2);
        }
        @include mq($md) {
          width: 100%;
          gap: auto;
          justify-content: flex-start;
        }
      }
      .marksWrapper {
        @include mq($lg) {
          flex: 1 1 calc(100% / 3);
        }
        .markBox {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          @include mq($lg) {
            flex-direction: column;
          }
          @include mq($md) {
            flex-direction: row;
          }
          @include mq($sm) {
            flex-direction: column;
          }
          & > div {
            width: calc(100% / 2 - 20px);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            @include mq($lg) {
              width: 100%;
            }
            @include mq($md) {
              width: calc(100% / 2 - 20px);
            }
            @include mq($sm) {
              width: 100%;
            }
            img {
              width: 78px;
              aspect-ratio: 1/1;
              height: auto;
              border-radius: 20px;
            }
            span {
              @include h3;
              text-transform: none;
              color: $dark;
            }
          }
        }
      }
    }
    .copyright {
      @include container;
      @include p;
      display: inline-block;
      text-align: center;
      @include mq($lg) {
        padding-top: 20px !important;
        padding-bottom: 40px !important;
      }
      a {
        @include transition;
        color: $primary;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
