@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.news {
  :global {
    @include page;
    @include container;
    .containerWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include container;
      @include mq($lg) {
        width: 80%;
      }
      @include mq($lg) {
        width: 80%;
      }
      @include mq($md) {
        width: 90%;
      }
      @include mq($xls) {
        width: 100%;
      }
      .introJourney {
        width: 60%;
        @include mq($xlg) {
          width: 70%;
        }
        @include mq($lg) {
          width: 100%;
        }

        gap: 10px;
        h2 {
          @include h3;
        }
        h3 {
          @include h2;
        }
      }
      .partnerBox {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .singleCard {
          @include transition;
          @include shadow;
          padding: 4%;
          background-color: $light;
          border-radius: 20px;
          width: calc(100% / 2 - 15px);
          gap: 24px;
          @include mq($lg) {
            width: 100%;
          }
          .news {
            width: 190px;
            aspect-ratio: 190/28;
            height: auto;
          }
          .title {
            @include h22;
            text-decoration: none;
          }
          .date {
            @include p;
          }
          .readMore {
            width: 170px;
            aspect-ratio: 190/28;
            height: auto;
            @include mq($md) {
              width: 150px;
            }
            @include mq($sm) {
              width: 130px;
            }
          }
          &:hover {
            transform: translateY(-5px);
            & > div img {
              transform: translateX(-3px);
            }
          }
        }
      }
    }
  }
}
